[submodule "ext/lz4"]
	path = lib/ext/lz4
	url = https://github.com/Cyan4973/lz4.git
[submodule "ext/bitshuffle"]
	path = lib/ext/bitshuffle
	url = https://github.com/kiyo-masui/bitshuffle.git
[submodule "ext/zstd"]
	path = lib/ext/zstd
	url = https://github.com/facebook/zstd.git
[submodule "ext/Turbo-Range-Coder"]
	path = lib/ext/Turbo-Range-Coder
	url = https://github.com/powturbo/Turbo-Range-Coder
